*{
    margin: 0;
    padding: 0;
}
.grid{
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.child{
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(247, 250, 250);
    box-shadow: 1px 1px 4px black;
}
.shoes_images{
    width: 15rem;
}
.bag_image{
    width: 2rem;
    height: 4rem;
}
.content{
    display: flex;
}
.foot{
    display: flex;
}
.rupees{
    padding-left: 5rem;
}